<section class="flex flex-col min-h-screen bg-blue-500">
  <div class="flex-grow flex flex-col justify-center items-center">
    <img src="../../assets/images/logo.svg" alt="Cash Byte Logo" class="w-32 h-32" />
  </div>
  <div class="py-4 flex flex-col items-center">
    <a href="#" class="text-white font-semibold mb-2">Log In</a>
    <a href="#" class="text-white font-semibold">Sign Up</a>
  </div>
</section>