<div class="h-screen flex flex-col items-center justify-center">
    <div class="self-auto text-3xl font-bold" style= 'color: #3778c2;'>
        <%= image_tag('logo.svg', alt: 'Cash Byte Logo', style: 'height: 100px;') %>
    </div>
    <div class="absolute bottom-0 left-0 flex flex-col justify-center items-center w-full px-1" >
        <%= link_to "LOG IN",
            new_user_session_path,
            class: "py-2 mx-2 rounded-md w-full text-center uppercase text-white", style: 'background-color: #3778c2' %>
        <%= link_to "SIGN UP",
            new_user_registration_path,
            method: :get,
            class: "py-2 rounded-md mt-1 mx-2 w-full text-center uppercase text-text-100", style: 'color: #6b737d' %>
    </div>
</div>
