<h1>Editing tranxaction</h1>

<%= render "form", tranxaction: @tranxaction %>

<br>

<div>
  <%= link_to "Show this tranxaction", @tranxaction %> |
  <%= link_to "Back to tranxactions", tranxactions_path %>
</div>
